// app global css in SCSS form
.no-margin {
    margin: 0px;
    padding: 0px;
    font-weight: 900;
}

body {
    font-family: 'Space Mono', monospace;
    background: #3a3a3a;
}

.text-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.text-sans-serif {
    font-family: sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}